.App {
  text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.form-field{
  margin-bottom: 20px;
  position: relative;
}
.form {
  width: 400px;
  margin: 100px auto;
  padding: 15px 0px;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 80%);
}
.form-heading{
  margin: 0 auto;
  width: 203px;
}
.form-heading h4{
  color: #1976d2;
  text-align: left;
  font-size: 23px;
  font-family: cursive;
}
.register-link a{
  text-decoration: none;
  color: #1976d2;
  font-family: cursive;
}
.MuiTypography-root.MuiTypography-h6.dashboard.css-1juivf6-MuiTypography-root {
  text-align: left;
}
.error{
    margin: 0;
    position: absolute;
    left: 96px;
    font-size: 14px;
    color: red;
}
.page-not-found{
  margin-top: 150px;
}
.page-not-found h2{
  width: 65px;
  height: 37px;
  margin: 0 auto;
  border: 2px solid red;
  color: red;
}
.page-not-found h5{
  font-size: 32px;
  margin: 0;
  font-weight: 300;
  color: gray;
  padding: 18px 0px;
}
.page-not-found p{
  font-size: 15px;
  color: gray;
}
.user_list{
  padding: 32px;
}
.css-1ygcj2i-MuiTableCell-root , .css-1ex1afd-MuiTableCell-root {
  text-align: center !important;
}
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeMedium.buttons.css-1ex1afd-MuiTableCell-root {
  display: flex;
  justify-content: space-evenly;
}
.modal-form{
  text-align: center;
}
.form-field.mo-btn-grp {
  display: flex;
  justify-content: space-evenly;
}
.search-bar{
  text-align: left;
  background-color: black;
}
input[type="search"]{
  padding: 12px 20px;
  margin:15px 10px;
}

@media only screen and (max-width: 768px) {
  input[type=search] {
    width: 80%;
}
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-9.css-1qpzhgb-MuiGrid-root {
  max-width: 100%;
  flex-direction: column;
  display: flex;
}
}
@media only screen and (max-width: 480px) {
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-3.css-1equabv-MuiGrid-root{
    max-width: 100%;
    text-align: center;
  }
  .form {
    width: 250px;
}
}
